<h2>Update Contact</h2>

Search by contact's family name:
</br>
</br>
<form action="/contacts/update" method="GET">
  <input type="text" name="search_family_name" placeholder="Search Family name"/>
  <input type="submit" value="Search"/>
</form>

</br>
</br>

Edit contact information:
</br>
</br>
<form action="/contacts/update" method="POST">
  Given Name:</br>
  <input type="text" name="given_name" value="<%= @given_name %>"/></br></br>
  Family Name:</br>
  <input type="text" name="family_name" value="<%= @family_name %>"/></br></br>
  Email Address:</br>
  <input type="text" name="email" value="<%= @email %>"/></br></br>
  Home Address:</br>
  <input type="text" name="address" value="<%= @address %>"/></br></br>
  <input type="submit" value="Update"/>
</form>

<%= flash[:alert] %>

</br>
<a href="/contacts"><button>Address Book</button></a>
